// _variables.scss
$font-base: system-ui, sans-serif;
$color-primary: #a0c7ee;
$color-secondary: #3498db;
$color-bg-light: #f9f9f9;
$color-border: #ddd;
$color-text: #333;

$space-s: 0.5rem;
$space-m: 1rem;
$space-l: 2rem;

$radius: 1rem;
$max-width: 1100px;
